@font-face {
  font-weight: 100;
  font-family: "Roboto";
  src: url(/fonts/d1e42f1b6d0c32271f8e68515563a213.ttf) format("truetype"); }

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/2cbc2256ef5afbf04c18beeee4478e55.ttf) format("truetype"); }

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url(/fonts/c6cdfded4630ba6d9a2dceb70aa4fe0f.ttf) format("truetype"); }

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/afd48b813752d70b936e73d99b5dca35.ttf) format("truetype"); }

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(/fonts/18d44f79b3979ec168862093208c6d7d.ttf) format("truetype"); }

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/9da6e8b1803fec548ee0720f620f93f5.ttf) format("truetype"); }

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(/fonts/d52f011be65b281ba8ca1c3f689cf133.ttf) format("truetype"); }

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/c1d8fbd29929d048c8d065d1be3bc35d.ttf) format("truetype"); }

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url(/fonts/7c18188784f21915f42a5b3bc9d91e20.ttf) format("truetype"); }

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/9098d3de14ef1cfae7be4f195fe1a174.ttf) format("truetype"); }

@font-face {
  font-weight: 900;
  font-family: "Roboto";
  src: url(/fonts/3234b3e853eabe9fc936cd7a133055ad.ttf) format("truetype"); }

@font-face {
  font-weight: 900;
  font-style: italic;
  font-family: "Roboto";
  src: url(/fonts/18a576bf7ceb253929ac1f7bdfe6d467.ttf) format("truetype"); }

